In [1]:
# Importing the necessary packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

IMPORTING THE DATASETS

In [2]:
ct_patients = pd.read_csv('CT_patients.csv')  # Importing the patients datasets
art_patients = pd.read_csv("ct_art_patients.csv") # Importing the art patient data
patient_visits = pd.read_csv("CT_PatientVisits.csv") # Importing the patient visits dataset
patient_labs = pd.read_csv("ct_patient_labs.csv")   # Importing the labs dataset
patient_depression_scr = pd.read_csv("CT_depressionscreening.csv")   #Importing the depression screening dataset

Now that we have imported all the datasets we need, we will now merge them into one dataset, clean and do exploratory data analysis on it.

## EXPLORATORY DATA  ANALYSIS

### DATA CLEANING

The data cleaning process will be done on individual datasets before merging them into one dataset that will be used for the rest of the exploratory data analysis to avoid merging issues.

In [3]:
ct_patients.head()

,Unnamed: 0,PatientPKHash,SiteCode,FacilityName,Region,Gender,LastVisit,EducationLevel,Occupation,MaritalStatus
0,1,78F96823AC7AD6E060E8D69DF686760669A4CCFD34EE70...,16800,Lea Toto Clinic (Westlands),Nairobi,Female,2022-01-19,NaN,NaN,NaN
1,2,FE9A28A6208798FCA425FB02E28B30ACF4DAAAD5E7D2F3...,18828,Lea Toto Zimmerman,Nairobi,Female,2022-01-10,NaN,NaN,NaN
2,3,A38CB015A0BA15BAC709E502AD9A68632EF7D63C45575F...,12965,Guru Nanak Hospital,Nairobi,Female,2023-11-08,NaN,NaN,Single
3,4,DC628EEC29CD06711202042DB171BB4053CFB1B7D3C57C...,12965,Guru Nanak Hospital,Nairobi,Female,2023-12-07,NaN,NaN,Single
4,5,7B9AFEBB3092D6229690F152A77507B931EB4AA1A7E4D1...,18828,Lea Toto Zimmerman,Nairobi,Female,2022-01-13,NaN,NaN,NaN

In [4]:
art_patients.head()  # Variable needed (regimen)  , date the patient started treatment(additional variable)

,Unnamed: 0,PatientPKHash,SiteCode,ExitReason,AgeEnrollment,StartARTDate,AgeLastVisit,AgeARTStart,StartRegimen,LastRegimen
0,1,FFF1D919002BAFBC0E2E547F358A2AF56EBE61525DF6EE...,14947,NaN,26.0,2009-02-24,41.0,29.0,3TC + EFV + TDF,3TC + RTV + AZT + ATV
1,2,F3FE5E7023FECF8776ED0ED6187AF0DB4DB26719AF79E0...,13492,NaN,55.0,2008-10-03,55.0,47.0,3TC+D4T+NVP,3TC+AZT+NVP
2,3,D95DBAB700E9EBB48E62C6D662951961CFCFE492C37410...,14110,NaN,34.0,2011-10-26,46.0,34.0,3TC+AZT+NVP,3TC+DTG+TDF
3,4,030A0046095BDECF76ADC5621D6FE03B9C6570A3432AB9...,15049,NaN,23.0,2014-07-18,25.0,24.0,3TC+AZT+LPV/r,3TC+AZT+LPV/r
4,5,26D6A8AD97C75FFC548F6873E5E93CE475479E3E1A1097...,11476,NaN,37.0,2021-06-02,43.0,40.0,3TC+EFV+TDF,3TC+DTG+TDF

In [5]:
patient_visits.head() # All relevant (next appointment date variable) missing

,Unnamed: 0,PatientPKHash,SiteCode,Adherence,VisitDate,AdherenceCategory,NextAppointmentDate
0,1,F099AA757FCAF0709211D33D7E2FA4CE9A23652C13CAB4...,15204,GOOD,2022-07-04,GOOD,2022-11-01
1,2,3D5061D636B5B454C739195AA7B28692AAECAA098D3E29...,15204,GOOD,2023-05-19,GOOD,2023-08-17
2,3,7BDF500F749AB18900F48C8A30B03EA880AFEBD5F5B176...,15204,GOOD,2023-01-13,GOOD,2023-02-13
3,4,30D8984113ECA227531EC4770A7A4A5929C97FF21A0EFF...,15204,GOOD,2023-01-13,GOOD,2023-05-02
4,5,BB453C54C31C091099809613E80D74EDE582D89FCF9376...,15204,GOOD,2023-12-11,GOOD,2024-03-11

In [6]:
patient_labs.head()  #CD4 names( cd count for age > 5 and cd4% for age less than 5yrs))

,Unnamed: 0,PatientPKHash,SiteCode,OrderedbyDate,TestName,TestResult
0,1,3F11BDE0D8DA0B6D8FFCC20FAA79FF0CA3C188B41459C0...,14027,2022-08-25,Viral Load,0
1,2,4EE8F1817816ACA31EC31BF3970A707F941A41241319A8...,13076,2023-02-15,Viral Load,87
2,3,32D913ED2228CC04150FAA7BEC23034183C7147F54A955...,12929,2022-11-19,CHGM,33.5
3,4,7B73C8E14681A416E4A899B18BFAAEC4F22E31BADFAFA1...,14124,2023-05-16,Viral Load,184
4,5,B856DD3933C4A89C78CB9AE675F9943C16B9D3DC8ED7DF...,14020,2023-08-24,Viral Load,LDL

In [7]:
patient_depression_scr.head()

,Unnamed: 0,PatientPKHash,SiteCode,VisitDate,PHQ_9_rating,DepressionAssesmentScore
0,1,13624525CB0A1E56E39C5DBEA36CA40F75C0DDFBB0719F...,16141,2023-01-05,Depression unlikely,NaN
1,2,8AE5AEF927CEFEC4DA2D5C598E737464DA531CCF70DB3C...,13705,2022-11-17,Depression unlikely,NaN
2,3,79A587C5AD7F0876D3F005D5755A3A4FAE841CDFEDEDC7...,19863,2023-10-11,Depression unlikely,NaN
3,4,7D60135BDE9770841CA447E5602841D7E8C2AE735D2390...,14950,2022-07-04,Depression unlikely,NaN
4,5,24795814776BF00333ABB04C43C6983153050A63772E52...,13600,2022-09-20,Depression unlikely,NaN

###### In merging we use the combination of PatientPK and site code. The combination of both as the unique identifier.

In [8]:
# drop the Unnamed column occurring in all the dataframes
dataframes = [ct_patients, art_patients, patient_labs, patient_visits, patient_depression_scr]

for df in dataframes:
    # Check if the column exists
    if 'Unnamed: 0' in df.columns:
        # Drop the column
        df.drop(columns='Unnamed: 0', inplace=True)

We have dropped the ```Unnamed``` column from the all the dataframes. Since all the dataframes share the column ```PatientPKHash``` and ```SiteCode```, we will concatenate the two columns to come up with a unique identifier (```Patient_uid```) and then merge them based on this column. In the next section we will now focus on the individual datasets one at a time for further cleaning.

In this analysis and henceforth, we are going to focus on the patients in the ct_patients dataset.

In [9]:
'''
Concatenate the PatientPKHash and  the SiteCode to form a 
unique patient identifier for each patient-facility combination.
This is done for all the imported datasets for uniformity
'''

for df in dataframes:
    # Concatenate the first two columns to form a new column called Patient_uid 
    # make the new column appear as the first one
    df.insert(0, 'Patient_uid', df['PatientPKHash'] + df['SiteCode'].astype(str))
    
    # Drop PatientPKHash column 
    df.drop(columns=['PatientPKHash'], inplace=True)
        
# Confirming the changes
patient_visits.head()

,Patient_uid,SiteCode,Adherence,VisitDate,AdherenceCategory,NextAppointmentDate
0,F099AA757FCAF0709211D33D7E2FA4CE9A23652C13CAB4...,15204,GOOD,2022-07-04,GOOD,2022-11-01
1,3D5061D636B5B454C739195AA7B28692AAECAA098D3E29...,15204,GOOD,2023-05-19,GOOD,2023-08-17
2,7BDF500F749AB18900F48C8A30B03EA880AFEBD5F5B176...,15204,GOOD,2023-01-13,GOOD,2023-02-13
3,30D8984113ECA227531EC4770A7A4A5929C97FF21A0EFF...,15204,GOOD,2023-01-13,GOOD,2023-05-02
4,BB453C54C31C091099809613E80D74EDE582D89FCF9376...,15204,GOOD,2023-12-11,GOOD,2024-03-11

In [10]:
# Drop the SiteCode column from all the datasets except from the ct_patients dataset

# update the list of dataframes
dataframes = [art_patients, patient_labs, patient_visits, patient_depression_scr]

for df in dataframes:
    df.drop(columns = ['SiteCode'], inplace = True)

#### 1. ct_patients

In [11]:
ct_patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601947 entries, 0 to 601946
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Patient_uid     601947 non-null  object
 1   SiteCode        601947 non-null  int64
 2   FacilityName    601809 non-null  object
 3   Region          600059 non-null  object
 4   Gender          601947 non-null  object
 5   LastVisit       601947 non-null  object
 6   EducationLevel  362452 non-null  object
 7   Occupation      315047 non-null  object
 8   MaritalStatus   518036 non-null  object
dtypes: int64(1), object(8)
memory usage: 41.3+ MB

In [12]:
ct_patients['Patient_uid'].nunique() # Checking the number of unique patients contained in the dataset.

601947

In [13]:
# Checking for the proportion of null values in the features of the dataset.
ct_patients.isna().sum()

Patient_uid            0
SiteCode               0
FacilityName         138
Region              1888
Gender                 0
LastVisit              0
EducationLevel    239495
Occupation        286900
MaritalStatus      83911
dtype: int64

From the results, ```EducationLevel``` and ```Occupation``` columns have the highest number of missing values but since they are relevant to our analysis, we will fill the null values in these columns with ```Unknown```

In the amputation of the NaN values, we will assume that the columns ```EducationLevel```, ```Region``` and ```MaritalStatus``` are unknown and fill them with ```Unknown```,since some patients prefer not to disclose this information.
However in the ```Occupation``` column we fill it with ```OTHER``` because they most certainly have a source of livelihood whether formal or informal. The ```FacilityName``` column is accounted for by the ```SiteCode``` featuring in the ```Patient_uid``` and thus we filled the NaN values with ```'Missing'```.

In this analysis and henceforth, we are going to focus on the patients in the ct_patients dataset ie. this dataset is going to be denominator for all the analysis conducted in this notebook.

In [14]:
# Convert LastVisit column to datetime data type
ct_patients['LastVisit'] = pd.to_datetime(ct_patients['LastVisit'])

# Fill NaN values in 'Occupation' with 'OTHER'
ct_patients['Occupation'].fillna('OTHER', inplace=True)

# Fill NaN values in 'EducationLevel', 'Region', and 'MaritalStatus' with 'Unknown'
ct_patients['EducationLevel'].fillna('Unknown', inplace=True)
ct_patients['Region'].fillna('Unknown', inplace=True)
ct_patients['MaritalStatus'].fillna('Unknown', inplace=True)
ct_patients['FacilityName'].fillna('Missing', inplace=True)

# Drop any duplicated rows
ct_patients.drop_duplicates(inplace = True)

# view the cleaned dataset
ct_patients.head()

,Patient_uid,SiteCode,FacilityName,Region,Gender,LastVisit,EducationLevel,Occupation,MaritalStatus
0,78F96823AC7AD6E060E8D69DF686760669A4CCFD34EE70...,16800,Lea Toto Clinic (Westlands),Nairobi,Female,2022-01-19,Unknown,OTHER,Unknown
1,FE9A28A6208798FCA425FB02E28B30ACF4DAAAD5E7D2F3...,18828,Lea Toto Zimmerman,Nairobi,Female,2022-01-10,Unknown,OTHER,Unknown
2,A38CB015A0BA15BAC709E502AD9A68632EF7D63C45575F...,12965,Guru Nanak Hospital,Nairobi,Female,2023-11-08,Unknown,OTHER,Single
3,DC628EEC29CD06711202042DB171BB4053CFB1B7D3C57C...,12965,Guru Nanak Hospital,Nairobi,Female,2023-12-07,Unknown,OTHER,Single
4,7B9AFEBB3092D6229690F152A77507B931EB4AA1A7E4D1...,18828,Lea Toto Zimmerman,Nairobi,Female,2022-01-13,Unknown,OTHER,Unknown

In [15]:
# select the records of only those patients whose Patient_uid is contained in ct_patients dataset
dataframes = dataframes = [ct_patients, art_patients, patient_labs, patient_visits, patient_depression_scr]

for df in dataframes:
    df = df[df['Patient_uid'].isin(ct_patients['Patient_uid'])]

In [16]:
# Convert LastVisit column to datetime data type
ct_patients['LastVisit'] = pd.to_datetime(ct_patients['LastVisit'])

# Dropping the rows with na values 
clean_ct_patients = ct_patients.dropna(axis = 0)

#Drop any duplicated rows
clean_ct_patients.drop_duplicates()

# view the cleaned dataset
clean_ct_patients.head()

,Patient_uid,SiteCode,FacilityName,Region,Gender,LastVisit,EducationLevel,Occupation,MaritalStatus
0,78F96823AC7AD6E060E8D69DF686760669A4CCFD34EE70...,16800,Lea Toto Clinic (Westlands),Nairobi,Female,2022-01-19,Unknown,OTHER,Unknown
1,FE9A28A6208798FCA425FB02E28B30ACF4DAAAD5E7D2F3...,18828,Lea Toto Zimmerman,Nairobi,Female,2022-01-10,Unknown,OTHER,Unknown
2,A38CB015A0BA15BAC709E502AD9A68632EF7D63C45575F...,12965,Guru Nanak Hospital,Nairobi,Female,2023-11-08,Unknown,OTHER,Single
3,DC628EEC29CD06711202042DB171BB4053CFB1B7D3C57C...,12965,Guru Nanak Hospital,Nairobi,Female,2023-12-07,Unknown,OTHER,Single
4,7B9AFEBB3092D6229690F152A77507B931EB4AA1A7E4D1...,18828,Lea Toto Zimmerman,Nairobi,Female,2022-01-13,Unknown,OTHER,Unknown

#### 2. art_patients

In [17]:
art_patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2416660 entries, 0 to 2416659
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   Patient_uid    object
 1   ExitReason     object
 2   AgeEnrollment  float64
 3   StartARTDate   object
 4   AgeLastVisit   float64
 5   AgeARTStart    float64
 6   StartRegimen   object
 7   LastRegimen    object
dtypes: float64(3), object(5)
memory usage: 147.5+ MB

In [18]:
# Check for the na values in the dataframe
print(art_patients.isna().sum())

Patient_uid          260
ExitReason       1529179
AgeEnrollment      65171
StartARTDate       14801
AgeLastVisit       84190
AgeARTStart        65361
StartRegimen      124973
LastRegimen        78615
dtype: int64

In [19]:
print(f"The ExitReason column is missing {art_patients['ExitReason'].isna().sum() * 100/len(art_patients)} % of the datapoints")

The ExitReason column is missing 63.27654696978475 % of the datapoints

We then compute the days between the next appointment date and the next visit for us to determine if the patient is still in treatment or they are LTFU (lost to follow up). Patients are considered to be LTFU once they have defaulted their next appointment for more than 30 days since when it was due.

In [20]:
# We then drop the datapoints with the na values
art_patients.dropna(inplace=True)

# Convert StartARTDate column to datetime data type
art_patients['StartARTDate'] = pd.to_datetime(art_patients['StartARTDate'])

# Confirm changes
art_patients.info()

<class 'pandas.core.frame.DataFrame'>
Index: 741706 entries, 5 to 2416654
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Patient_uid    741706 non-null  object
 1   ExitReason     741706 non-null  object
 2   AgeEnrollment  741706 non-null  float64
 3   StartARTDate   741706 non-null  datetime64[ns]
 4   AgeLastVisit   741706 non-null  float64
 5   AgeARTStart    741706 non-null  float64
 6   StartRegimen   741706 non-null  object
 7   LastRegimen    741706 non-null  object
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 50.9+ MB

In [21]:
# Checking for the distinct values in the modified column
art_patients['ExitReason'].unique()

array(['TRANSFER OUT', 'DEAD', 'LTFU', 'COMPLETED TREATMENT', 'OTHERS',
       'STOPPED TREATMENT'], dtype=object)

In [22]:
# Rename the ExitReason column in the art_patients dataframe to avoid confusion since 
# it also appears in the status dataset
art_patients.rename(columns={'ExitReason': 'ArtExitReason'}, inplace=True)

In [23]:
# Group the DataFrame by Patient_uid and select the last record for each group
# These are the records that will be used for prediction
last_records = art_patients.groupby('Patient_uid').last()

# ungroup after filtration
clean_art_patients = last_records.reset_index()

#view head
clean_art_patients.head()

,Patient_uid,ArtExitReason,AgeEnrollment,StartARTDate,AgeLastVisit,AgeARTStart,StartRegimen,LastRegimen
0,00000B642116102B43DBB14131E3050512B0C562C3E087...,LTFU,0.0,2011-07-08,0.0,0.0,3TC + NVP + ABC,3TC + NVP + ABC
1,00001D3E47BE84D61F69907A49D71C3E10751D47F49D6A...,LTFU,57.0,2020-01-07,59.0,57.0,3TC + TDF + DTG,3TC + TDF + DTG
2,00003630D1508285B640469357CC420BCE83E9424D28A8...,TRANSFER OUT,21.0,2016-10-27,24.0,21.0,3TC + EFV + TDF,3TC + EFV + TDF
3,0000EDD09F54622457C22B1C03B5CD7BD530779F94EBB3...,LTFU,62.0,2014-01-14,62.0,62.0,3TC + EFV + TDF,3TC + EFV + TDF
4,000114516EC31395403FA7C4CC5E7FE8EC7E10D0EC457F...,DEAD,29.0,2017-01-19,31.0,29.0,3TC+EFV+TDF,3TC+DTG+TDF

#### 3. patient_visits

In [24]:
# Viewing the information about the visits dataset
patient_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10784630 entries, 0 to 10784629
Data columns (total 5 columns):
 #   Column               Dtype
---  ------               -----
 0   Patient_uid          object
 1   Adherence            object
 2   VisitDate            object
 3   AdherenceCategory    object
 4   NextAppointmentDate  object
dtypes: object(5)
memory usage: 411.4+ MB

In [25]:
# Convert VisitDate column to datetime data type
patient_visits['VisitDate'] = pd.to_datetime(patient_visits['VisitDate'])

# Convert NextAppointmentDate column to datetime data type
patient_visits['NextAppointmentDate'] = pd.to_datetime(patient_visits['NextAppointmentDate'])

patient_visits.head()

,Patient_uid,Adherence,VisitDate,AdherenceCategory,NextAppointmentDate
0,F099AA757FCAF0709211D33D7E2FA4CE9A23652C13CAB4...,GOOD,2022-07-04,GOOD,2022-11-01
1,3D5061D636B5B454C739195AA7B28692AAECAA098D3E29...,GOOD,2023-05-19,GOOD,2023-08-17
2,7BDF500F749AB18900F48C8A30B03EA880AFEBD5F5B176...,GOOD,2023-01-13,GOOD,2023-02-13
3,30D8984113ECA227531EC4770A7A4A5929C97FF21A0EFF...,GOOD,2023-01-13,GOOD,2023-05-02
4,BB453C54C31C091099809613E80D74EDE582D89FCF9376...,GOOD,2023-12-11,GOOD,2024-03-11

We need to create the ```NextVisit``` column that will be used to determine if the patient is ```LTFU``` or not by lagging the ```VisitDate``` column.

In [ ]:
# Group by Patient_uid and arrange by VisitDate in descending order within each group
patient_visits = patient_visits.groupby('Patient_uid').apply(lambda x: x.sort_values('VisitDate', ascending=True))

# Calculate the next visit date by shifting the VisitDate column forward by one row within each group
patient_visits['NextVisit'] = patient_visits['VisitDate'].shift(periods=-1)

# Drop the grouping index to ungroup the DataFrame
patient_visits.reset_index(drop=True, inplace=True)


# create a new column called Status which will take a value "LTFU" if the difference between NextVisit and NextAppointmentDate is more than 30days 
# else take a value "In Treatment"
patient_visits['Status'] = 'In Treatment'
patient_visits.loc[(patient_visits['NextVisit'] - patient_visits['NextAppointmentDate']).dt.days > 30, 'Status'] = 'IIT'

# View head
patient_visits.head()

We will now filter out to remain with the records for the most recent visits for each patient.

In [ ]:
# group by patientPKHash, select the most recent record as per VisitDate for each unique patient

recent_visits = patient_visits.groupby('PatientPKHash').apply(lambda x: x.sort_values('VisitDate', Ascending = True)).tail(1).reset_index(drop=True)
recent_visits.head()

In [ ]:
# Checking for the number of uniqie patients contained in the dataset
recent_visits['Patient_uid'].nunique()

In [ ]:
# checking for the unique values of the adherence categories
print(recent_visits['Adherence'].unique())
print(recent_visits['AdherenceCategory'].unique())

In [ ]:
# Checking for na values
recent_visits.isna().sum()

Since only a small portion of the data is missing we'll drop the missing data points from the visits dataset.

In [ ]:
# Dropping the na values
recent_visits = recent_visits.dropna()

# view changes
recent_visits.info()

In [ ]:
# Extracting the first part of the values in the Adherence column
recent_visits['Adherence'] = recent_visits['Adherence'].str.split('|').str[0]
# confirm changes
recent_visits['Adherence'].unique()

In [ ]:
# Replace "0" with NaN in 'Adherence' column
recent_visits['Adherence'] = recent_visits['Adherence'].replace('0', np.nan)

# Convert 'Adherence' column to lowercase
recent_visits['Adherence'] = recent_visits['Adherence'].str.lower()

# View head
recent_visits.head()

Since we are only interested on the art adherence, we'll drop the AdherenceCategory column. The CTX category indicates the level of adherence to the drug for treating opportunistic infections.

In [ ]:
# Drop the na values that we inserted
recent_visits.dropna(inplace=True)

# Drop the AdherenceCategory
recent_visits.drop(columns='AdherenceCategory', inplace=True)

# Rename 'Adherence' column to 'ArtAdherence'
recent_visits.rename(columns={'Adherence': 'ArtAdherence'}, inplace=True)

#### 5. Patient_labs

In [ ]:
patient_labs.info()

In [ ]:
# check for na values
patient_labs.isna().sum()

In [ ]:
# Drop the missing values from the dataset
patient_labs.dropna(inplace=True)

In [ ]:
patient_labs.head()

In [ ]:
# Check the number of tests run on eaxh patient
patient_labs['TestName'].unique()

From the tests above, we are only interested in the results for ```Viral Load```, ```CD4 Count``` and ```CD4 Percentage``` tests for our analysis.

In [ ]:
# Filter the DataFrame
filtered_patient_labs = patient_labs[patient_labs['TestName'].isin(['Viral Load', 'CD4 Count', 'CD4 Percentage'])]

# Show the filtered DataFrame
filtered_patient_labs

In [ ]:
# Replace text values with 0 in 'TestResult' column
filtered_patient_labs['TestResult'] = pd.to_numeric(filtered_patient_labs['TestResult'], errors='coerce').fillna(0)

# Convert 'TestResult' column to float data type
filtered_patient_labs['TestResult'] = filtered_patient_labs['TestResult'].astype(float)

# Group by 'Patient_uid', sort by 'OrderedbyDate', and get the latest entry for each group
latest_tests = filtered_patient_labs.sort_values('OrderedbyDate').groupby('Patient_uid').last()

# Reset index to make 'Patient_uid' a column
latest_tests.reset_index(inplace=True)

# View head
latest_tests.head()

  #### 6. patient_depression_scr

In [ ]:
# Get the information
patient_depression_scr.info()

In [ ]:
# check for missing values
patient_depression_scr.isna().sum()

In [ ]:
# convert the VisitDate column into date time data type
patient_depression_scr['VisitDate'] = pd.to_datetime(patient_depression_scr['VisitDate'])

# we drop the DepressionAssesmentScore and VisitDate columns
patient_depression_scr.drop(columns= ["DepressionAssesmentScore","VisitDate"], inplace=True)

patient_depression_scr.head()

### Merging The Datasets

In [ ]:
clean_dfs = [clean_ct_patients, clean_art_patients, recent_visits, latest_tests, patient_depression_scr]

# Merge dataframes on 'Patient_uid' column
merged_df = None
for df in clean_dfs:
    if merged_df is None:
        merged_df = df
    else:
        merged_df = pd.merge(merged_df, df, on='Patient_uid', how='left')

merged_df.head()

In [ ]:
merged_df.info()

In [ ]:
# Drop the ExitReason, OrderedbyDate and FacilityName columns since they are redundant
merged_df.drop(columns=['ExitReason', 'OrderedbyDate', 'FacilityName'], inplace=True)
final_df = merged_df.dropna()
final_df.info()

In [ ]:
final_df.head()

In [ ]:
# Writing into a csv file
final_df.to_csv('final_dataframe.csv', index=False)

In [ ]:
# Suggested plots for visualizations

# distribution of LTFU patients
# distribution of transfered out patients by region
# distribution of LTFU patients by region
# distribution of LTFU patients by occupation
# distribution of LTFU patients by gender
# distribution of patients by ExitReason (establish portion in each category)
# use the patient_labs and patient_visits

### DATA VISUALIZATION