In [1]:
# Importing the necessary packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

IMPORTING THE DATASETS

In [2]:
ct_patients = pd.read_csv('CT_patients.csv')  # Importing the patients datasets
art_patients = pd.read_csv("ct_art_patients.csv") # Importing the art patient data
patient_visits = pd.read_csv("CT_PatientVisits.csv") # Importing the patient visits dataset
patient_status = pd.read_csv("CT_PatientStatus.csv")  # Importing the Patient Status dataset
patient_labs = pd.read_csv("ct_patient_labs.csv")   # Importing the labs dataset

Now that we have imported all the datasets we need, we will now merge them into one dataset, clean and do exploratory data analysis on it.

### EXPLORATORY DATA  ANALYSIS

#### DATA CLEANING

##### 1. ct_patients

In [3]:
ct_patients.head()

,Unnamed: 0,PatientPKHash,SiteCode,FacilityName,Region,Gender,LastVisit,EducationLevel,Occupation,MaritalStatus
0,1,78F96823AC7AD6E060E8D69DF686760669A4CCFD34EE70...,16800,Lea Toto Clinic (Westlands),Nairobi,Female,2022-01-19,NaN,NaN,NaN
1,2,FE9A28A6208798FCA425FB02E28B30ACF4DAAAD5E7D2F3...,18828,Lea Toto Zimmerman,Nairobi,Female,2022-01-10,NaN,NaN,NaN
2,3,A38CB015A0BA15BAC709E502AD9A68632EF7D63C45575F...,12965,Guru Nanak Hospital,Nairobi,Female,2023-11-08,NaN,NaN,Single
3,4,DC628EEC29CD06711202042DB171BB4053CFB1B7D3C57C...,12965,Guru Nanak Hospital,Nairobi,Female,2023-12-07,NaN,NaN,Single
4,5,7B9AFEBB3092D6229690F152A77507B931EB4AA1A7E4D1...,18828,Lea Toto Zimmerman,Nairobi,Female,2022-01-13,NaN,NaN,NaN

In [4]:
art_patients.head()

,Unnamed: 0,PatientPKHash,SiteCode,ExitReason,AgeEnrollment,AgeLastVisit,AgeARTStart,StartRegimen,LastRegimen
0,1,NaN,13581,NaN,21.0,21.0,21.0,3TC+DTG+TDF,3TC+DTG+TDF
1,2,NaN,17173,NaN,39.0,43.0,39.0,3TC+DTG+TDF,3TC+DTG+TDF
2,3,NaN,15417,NaN,76.0,76.0,76.0,3TC+DTG+TDF,3TC+DTG+TDF
3,4,NaN,16878,NaN,29.0,29.0,29.0,3TC+DTG+TDF,3TC+DTG+TDF
4,5,NaN,14825,NaN,20.0,NaN,20.0,3TC+DTG+TDF,3TC+DTG+TDF

In [5]:
patient_visits.head()

,Unnamed: 0,PatientPKHash,SiteCode,Adherence,VisitDate,AdherenceCategory
0,1,F099AA757FCAF0709211D33D7E2FA4CE9A23652C13CAB4...,15204,GOOD,2022-07-04,GOOD
1,2,3D5061D636B5B454C739195AA7B28692AAECAA098D3E29...,15204,GOOD,2023-05-19,GOOD
2,3,7BDF500F749AB18900F48C8A30B03EA880AFEBD5F5B176...,15204,GOOD,2023-01-13,GOOD
3,4,30D8984113ECA227531EC4770A7A4A5929C97FF21A0EFF...,15204,GOOD,2023-01-13,GOOD
4,5,BB453C54C31C091099809613E80D74EDE582D89FCF9376...,15204,GOOD,2023-12-11,GOOD

In [8]:
patient_labs.head()

,Unnamed: 0,PatientPKHash,SiteCode,OrderedbyDate,TestName,TestResult
0,1,3F11BDE0D8DA0B6D8FFCC20FAA79FF0CA3C188B41459C0...,14027,2022-08-25,Viral Load,0
1,2,4EE8F1817816ACA31EC31BF3970A707F941A41241319A8...,13076,2023-02-15,Viral Load,87
2,3,32D913ED2228CC04150FAA7BEC23034183C7147F54A955...,12929,2022-11-19,CHGM,33.5
3,4,7B73C8E14681A416E4A899B18BFAAEC4F22E31BADFAFA1...,14124,2023-05-16,Viral Load,184
4,5,B856DD3933C4A89C78CB9AE675F9943C16B9D3DC8ED7DF...,14020,2023-08-24,Viral Load,LDL

In [7]:
patient_status.head()

,Unnamed: 0,PatientPKHash,SiteCode,ExitDate,ExitReason
0,1,C8B6E7C50A1530F4130D101A64940A1E8E02F8154C41AA...,13089,2022-02-03,Transfer Out
1,2,0E41F33A53596B218FA47D6F17D6413D33E44FC159EF5C...,10786,2022-01-07,Transfer Out
2,3,8AF1826B4A1C2115D3A0AB7C48480F22787FAF1C316BF7...,12871,2022-01-19,Transfer Out
3,4,AFF5E6C33C8499EAAF755947E27F8DBDA5E9C0B65A9FFC...,12871,2022-01-24,Transfer Out
4,5,0921593922E55C539DD4872C55C180FEE6A97B680F96F9...,14749,2023-07-13,Transfer Out

In [15]:
# drop the Unnamed column occurring in all the dataframes
dataframes = [ct_patients, art_patients, patient_labs, patient_status, patient_visits]

for df in dataframes:
    # Check if the column exists
    if 'Unnamed: 0' in df.columns:
        # Drop the column
        df.drop(columns='Unnamed: 0', inplace=True)

We have dropped the ```Unnamed``` column from the all the dataframes. Since all the dataframes share the column ```PatientPKHash``` except ```art_patients```, we will merge them based on this column.

In [17]:
from functools import reduce

# List of DataFrames
dataframes = [ct_patients, patient_labs, patient_status, patient_visits]

# Define the function to merge two DataFrames on "PatientPKHash" column
def merge_dataframes(df1, df2):
    return pd.merge(df1, df2, on="PatientPKHash", how="outer")

# Merge all DataFrames in the list
merged_df = reduce(merge_dataframes, dataframes)

merged_df.head()

MemoryError: Unable to allocate 22.2 GiB for an array with shape (8, 372437766) and data type object