In [1]:
# Importing the necessary packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

IMPORTING THE DATASETS

In [2]:
ct_patients = pd.read_csv('CT_patients.csv')  # Importing the patients datasets
art_patients = pd.read_csv("ct_art_patients.csv") # Importing the art patient data
patient_visits = pd.read_csv("CT_PatientVisits.csv") # Importing the patient visits dataset
patient_status = pd.read_csv("CT_PatientStatus.csv")  # Importing the Patient Status dataset
patient_labs = pd.read_csv("ct_patient_labs.csv")   # Importing the labs dataset
patient_depression_scr = pd.read_csv("CT_depressionscreening.csv")   #Importing the depression screening dataset

Now that we have imported all the datasets we need, we will now merge them into one dataset, clean and do exploratory data analysis on it.

### EXPLORATORY DATA  ANALYSIS

#### DATA CLEANING

The data cleaning process will be done on individual datasets before merging them into one dataset that will be used for the rest of the exploratory data analysis to avoid merging issues.

In [3]:
ct_patients.head()

,Unnamed: 0,PatientPKHash,SiteCode,FacilityName,Region,Gender,LastVisit,EducationLevel,Occupation,MaritalStatus
0,1,78F96823AC7AD6E060E8D69DF686760669A4CCFD34EE70...,16800,Lea Toto Clinic (Westlands),Nairobi,Female,2022-01-19,NaN,NaN,NaN
1,2,FE9A28A6208798FCA425FB02E28B30ACF4DAAAD5E7D2F3...,18828,Lea Toto Zimmerman,Nairobi,Female,2022-01-10,NaN,NaN,NaN
2,3,A38CB015A0BA15BAC709E502AD9A68632EF7D63C45575F...,12965,Guru Nanak Hospital,Nairobi,Female,2023-11-08,NaN,NaN,Single
3,4,DC628EEC29CD06711202042DB171BB4053CFB1B7D3C57C...,12965,Guru Nanak Hospital,Nairobi,Female,2023-12-07,NaN,NaN,Single
4,5,7B9AFEBB3092D6229690F152A77507B931EB4AA1A7E4D1...,18828,Lea Toto Zimmerman,Nairobi,Female,2022-01-13,NaN,NaN,NaN

In [4]:
art_patients.head()  # Variable needed (regimen)  , date the patient started treatment(additional variable)

,Unnamed: 0,PatientPKHash,SiteCode,ExitReason,AgeEnrollment,StartARTDate,AgeLastVisit,AgeARTStart,StartRegimen,LastRegimen
0,1,FFF1D919002BAFBC0E2E547F358A2AF56EBE61525DF6EE...,14947,NaN,26.0,2009-02-24,41.0,29.0,3TC + EFV + TDF,3TC + RTV + AZT + ATV
1,2,F3FE5E7023FECF8776ED0ED6187AF0DB4DB26719AF79E0...,13492,NaN,55.0,2008-10-03,55.0,47.0,3TC+D4T+NVP,3TC+AZT+NVP
2,3,D95DBAB700E9EBB48E62C6D662951961CFCFE492C37410...,14110,NaN,34.0,2011-10-26,46.0,34.0,3TC+AZT+NVP,3TC+DTG+TDF
3,4,030A0046095BDECF76ADC5621D6FE03B9C6570A3432AB9...,15049,NaN,23.0,2014-07-18,25.0,24.0,3TC+AZT+LPV/r,3TC+AZT+LPV/r
4,5,26D6A8AD97C75FFC548F6873E5E93CE475479E3E1A1097...,11476,NaN,37.0,2021-06-02,43.0,40.0,3TC+EFV+TDF,3TC+DTG+TDF

In [5]:
patient_visits.head() # All relevant (next appointment date variable) missing

,Unnamed: 0,PatientPKHash,SiteCode,Adherence,VisitDate,AdherenceCategory,NextAppointmentDate
0,1,F099AA757FCAF0709211D33D7E2FA4CE9A23652C13CAB4...,15204,GOOD,2022-07-04,GOOD,2022-11-01
1,2,3D5061D636B5B454C739195AA7B28692AAECAA098D3E29...,15204,GOOD,2023-05-19,GOOD,2023-08-17
2,3,7BDF500F749AB18900F48C8A30B03EA880AFEBD5F5B176...,15204,GOOD,2023-01-13,GOOD,2023-02-13
3,4,30D8984113ECA227531EC4770A7A4A5929C97FF21A0EFF...,15204,GOOD,2023-01-13,GOOD,2023-05-02
4,5,BB453C54C31C091099809613E80D74EDE582D89FCF9376...,15204,GOOD,2023-12-11,GOOD,2024-03-11

In [6]:
patient_labs.head()  #CD4 names( cd count for age > 5 and cd4% for age less than 5yrs))

,Unnamed: 0,PatientPKHash,SiteCode,OrderedbyDate,TestName,TestResult
0,1,3F11BDE0D8DA0B6D8FFCC20FAA79FF0CA3C188B41459C0...,14027,2022-08-25,Viral Load,0
1,2,4EE8F1817816ACA31EC31BF3970A707F941A41241319A8...,13076,2023-02-15,Viral Load,87
2,3,32D913ED2228CC04150FAA7BEC23034183C7147F54A955...,12929,2022-11-19,CHGM,33.5
3,4,7B73C8E14681A416E4A899B18BFAAEC4F22E31BADFAFA1...,14124,2023-05-16,Viral Load,184
4,5,B856DD3933C4A89C78CB9AE675F9943C16B9D3DC8ED7DF...,14020,2023-08-24,Viral Load,LDL

In [7]:
patient_status.head()  
# difference between next appointment and next visit - (whether patient interrupted or not, LTFU)
# More than 30 days considered LTFU

,Unnamed: 0,PatientPKHash,SiteCode,ExitDate,ExitReason
0,1,C8B6E7C50A1530F4130D101A64940A1E8E02F8154C41AA...,13089,2022-02-03,Transfer Out
1,2,0E41F33A53596B218FA47D6F17D6413D33E44FC159EF5C...,10786,2022-01-07,Transfer Out
2,3,8AF1826B4A1C2115D3A0AB7C48480F22787FAF1C316BF7...,12871,2022-01-19,Transfer Out
3,4,AFF5E6C33C8499EAAF755947E27F8DBDA5E9C0B65A9FFC...,12871,2022-01-24,Transfer Out
4,5,0921593922E55C539DD4872C55C180FEE6A97B680F96F9...,14749,2023-07-13,Transfer Out

In [8]:
patient_depression_scr.head()

,Unnamed: 0,PatientPKHash,SiteCode,VisitDate,PHQ_9_rating,DepressionAssesmentScore
0,1,13624525CB0A1E56E39C5DBEA36CA40F75C0DDFBB0719F...,16141,2023-01-05,Depression unlikely,NaN
1,2,8AE5AEF927CEFEC4DA2D5C598E737464DA531CCF70DB3C...,13705,2022-11-17,Depression unlikely,NaN
2,3,79A587C5AD7F0876D3F005D5755A3A4FAE841CDFEDEDC7...,19863,2023-10-11,Depression unlikely,NaN
3,4,7D60135BDE9770841CA447E5602841D7E8C2AE735D2390...,14950,2022-07-04,Depression unlikely,NaN
4,5,24795814776BF00333ABB04C43C6983153050A63772E52...,13600,2022-09-20,Depression unlikely,NaN

###### In merging we use the combination of PatientPK and site code. The combination of both as the unique identifier.

In [9]:
# drop the Unnamed column occurring in all the dataframes
dataframes = [ct_patients, art_patients, patient_labs, patient_status, patient_visits, patient_depression_scr]

for df in dataframes:
    # Check if the column exists
    if 'Unnamed: 0' in df.columns:
        # Drop the column
        df.drop(columns='Unnamed: 0', inplace=True)

We have dropped the ```Unnamed``` column from the all the dataframes. Since all the dataframes share the column ```PatientPKHash``` and ```SiteCode```, we will concatenate the two columns to come up with a unique identifier (```Patient_uid```) and then merge them based on this column. In the next section we will now focus on the individual datasets one at a time for further cleaning.

In [10]:
'''
Concatenate the PatientPKHash and  the SiteCode to form a 
unique patient identifier for each patient-facility combination.
This is done for all the imported datasets for uniformity
'''

for df in dataframes:
    # Concatenate the first two columns to form a new column called Patient_uid 
    # make the new column appear as the first one
    df.insert(0, 'Patient_uid', df['PatientPKHash'] + df['SiteCode'].astype(str))
    
    # then drop PatientPKHash column
    df.drop(columns=['PatientPKHash'], inplace=True)
        
# Confirming the changes
patient_status.head()

,Patient_uid,SiteCode,ExitDate,ExitReason
0,C8B6E7C50A1530F4130D101A64940A1E8E02F8154C41AA...,13089,2022-02-03,Transfer Out
1,0E41F33A53596B218FA47D6F17D6413D33E44FC159EF5C...,10786,2022-01-07,Transfer Out
2,8AF1826B4A1C2115D3A0AB7C48480F22787FAF1C316BF7...,12871,2022-01-19,Transfer Out
3,AFF5E6C33C8499EAAF755947E27F8DBDA5E9C0B65A9FFC...,12871,2022-01-24,Transfer Out
4,0921593922E55C539DD4872C55C180FEE6A97B680F96F9...,14749,2023-07-13,Transfer Out

In [11]:
# Drop the SiteCode column from all the datasets except from the ct_patients dataset

# update the list of dataframes
dataframes = [art_patients, patient_labs, patient_status, patient_visits, patient_depression_scr]

for df in dataframes:
    df.drop(columns = ['SiteCode'], inplace = True)

##### 1. ct_patients

In [12]:
ct_patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601947 entries, 0 to 601946
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Patient_uid     601947 non-null  object
 1   SiteCode        601947 non-null  int64
 2   FacilityName    601809 non-null  object
 3   Region          600059 non-null  object
 4   Gender          601947 non-null  object
 5   LastVisit       601947 non-null  object
 6   EducationLevel  362452 non-null  object
 7   Occupation      315047 non-null  object
 8   MaritalStatus   518036 non-null  object
dtypes: int64(1), object(8)
memory usage: 41.3+ MB

In [13]:
ct_patients['Patient_uid'].nunique() # Checking the number of unique patients contained in the dataset.

601947

In [14]:
# Checking for the proportion of null values in the features of the dataset.
ct_patients.isna().sum()

Patient_uid            0
SiteCode               0
FacilityName         138
Region              1888
Gender                 0
LastVisit              0
EducationLevel    239495
Occupation        286900
MaritalStatus      83911
dtype: int64

From the results, ```EducationLevel``` and ```Occupation``` columns have the highest number of missing values but since they are relevant to our analysis, we will drop only the rows with the missing values.

In [15]:
# Convert LastVisit column to datetime data type
ct_patients['LastVisit'] = pd.to_datetime(ct_patients['LastVisit'])

# Dropping the rows with na values 
clean_ct_patients = ct_patients.dropna(axis = 0)

#Drop any duplicated rows
clean_ct_patients.drop_duplicates()

# view the cleaned dataset
clean_ct_patients.head()

,Patient_uid,SiteCode,FacilityName,Region,Gender,LastVisit,EducationLevel,Occupation,MaritalStatus
754,221B44364E0DD50C9FE08E53A409345216D6E44523644A...,11094,Thika Level 5 Hospital,Kiambu,Female,2022-08-23,PRIMARY,OTHER NON-CODED,Single
755,C02DFA860440198A658E188E0D9FE0E3BB8DE1EC2695D5...,11395,Shimo-La Tewa Health Centre (GK Prison),Mombasa,Female,2022-05-25,PRIMARY,OTHER NON-CODED,DIVORCED
757,89FF302CC4C87B3BE564F50018F3C813E1D62AA208F925...,14872,Kiminini Cottage Hospital,Trans Nzoia,Male,2022-09-12,PRIMARY,OTHER NON-CODED,MARRIED POLYGAMOUS
759,DE56185F5A830983CD17C905E2A458F6B24816F093FA02...,10602,Kijabe (AIC) Hospital,Kiambu,Female,2022-03-28,PRIMARY,Farmer,WIDOWED
761,29209A223A1EB657237D40A9DEBC9F6CEEAA82E01C7EB9...,10602,Kijabe (AIC) Hospital,Kiambu,Female,2022-10-31,COLLEGE,Employee,MARRIED MONOGAMOUS

##### 2. art_patients

In [16]:
art_patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2416660 entries, 0 to 2416659
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   Patient_uid    object
 1   ExitReason     object
 2   AgeEnrollment  float64
 3   StartARTDate   object
 4   AgeLastVisit   float64
 5   AgeARTStart    float64
 6   StartRegimen   object
 7   LastRegimen    object
dtypes: float64(3), object(5)
memory usage: 147.5+ MB

In [17]:
# Check for the na values in the dataframe
print(art_patients.isna().sum())

Patient_uid          260
ExitReason       1529179
AgeEnrollment      65171
StartARTDate       14801
AgeLastVisit       84190
AgeARTStart        65361
StartRegimen      124973
LastRegimen        78615
dtype: int64

In [18]:
print(f"The ExitReason column is missing {art_patients['ExitReason'].isna().sum() * 100/len(art_patients)} % of the datapoints")

The ExitReason column is missing 63.27654696978475 % of the datapoints

We then compute the days between the next appointment date and the next visit for us to determine if the patient is still in treatment or they are LTFU (lost to follow up). Patients are considered to be LTFU once they have defaulted their next appointment for more than 30 days since when it was due.

## remember to compute for ltfu patients

In [19]:
# We then drop the datapoints with the na values
art_patients.dropna(inplace=True)

# Convert StartARTDate column to datetime data type
art_patients['StartARTDate'] = pd.to_datetime(art_patients['StartARTDate'])

# Confirm changes
art_patients.info()

<class 'pandas.core.frame.DataFrame'>
Index: 741706 entries, 5 to 2416654
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Patient_uid    741706 non-null  object
 1   ExitReason     741706 non-null  object
 2   AgeEnrollment  741706 non-null  float64
 3   StartARTDate   741706 non-null  datetime64[ns]
 4   AgeLastVisit   741706 non-null  float64
 5   AgeARTStart    741706 non-null  float64
 6   StartRegimen   741706 non-null  object
 7   LastRegimen    741706 non-null  object
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 50.9+ MB

In [20]:
# Checking for the distinct values in the modified column
art_patients['ExitReason'].unique()

array(['TRANSFER OUT', 'DEAD', 'LTFU', 'COMPLETED TREATMENT', 'OTHERS',
       'STOPPED TREATMENT'], dtype=object)

In [21]:
# Rename the ExitReason column in the art_patients dataframe to avoid confusion since 
# it also appears in the status dataset
art_patients.rename(columns={'ExitReason': 'ArtExitReason'}, inplace=True)

In [22]:
# Group the DataFrame by Patient_uid and select the last record for each group
# These are the records that will be used for prediction
last_records = art_patients.groupby('Patient_uid').last()

# ungroup after filtration
clean_art_patients = last_records.reset_index()

#view head
clean_art_patients.head()

,Patient_uid,ArtExitReason,AgeEnrollment,StartARTDate,AgeLastVisit,AgeARTStart,StartRegimen,LastRegimen
0,00000B642116102B43DBB14131E3050512B0C562C3E087...,LTFU,0.0,2011-07-08,0.0,0.0,3TC + NVP + ABC,3TC + NVP + ABC
1,00001D3E47BE84D61F69907A49D71C3E10751D47F49D6A...,LTFU,57.0,2020-01-07,59.0,57.0,3TC + TDF + DTG,3TC + TDF + DTG
2,00003630D1508285B640469357CC420BCE83E9424D28A8...,TRANSFER OUT,21.0,2016-10-27,24.0,21.0,3TC + EFV + TDF,3TC + EFV + TDF
3,0000EDD09F54622457C22B1C03B5CD7BD530779F94EBB3...,LTFU,62.0,2014-01-14,62.0,62.0,3TC + EFV + TDF,3TC + EFV + TDF
4,000114516EC31395403FA7C4CC5E7FE8EC7E10D0EC457F...,DEAD,29.0,2017-01-19,31.0,29.0,3TC+EFV+TDF,3TC+DTG+TDF

##### 3. patient_visits

In [23]:
# Viewing the information about the visits dataset
patient_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10784630 entries, 0 to 10784629
Data columns (total 5 columns):
 #   Column               Dtype
---  ------               -----
 0   Patient_uid          object
 1   Adherence            object
 2   VisitDate            object
 3   AdherenceCategory    object
 4   NextAppointmentDate  object
dtypes: object(5)
memory usage: 411.4+ MB

In [24]:
# Convert VisitDate column to datetime data type
patient_visits['VisitDate'] = pd.to_datetime(patient_visits['VisitDate'])

# Convert NextAppointmentDate column to datetime data type
patient_visits['NextAppointmentDate'] = pd.to_datetime(patient_visits['NextAppointmentDate'])

patient_visits.head()

,Patient_uid,Adherence,VisitDate,AdherenceCategory,NextAppointmentDate
0,F099AA757FCAF0709211D33D7E2FA4CE9A23652C13CAB4...,GOOD,2022-07-04,GOOD,2022-11-01
1,3D5061D636B5B454C739195AA7B28692AAECAA098D3E29...,GOOD,2023-05-19,GOOD,2023-08-17
2,7BDF500F749AB18900F48C8A30B03EA880AFEBD5F5B176...,GOOD,2023-01-13,GOOD,2023-02-13
3,30D8984113ECA227531EC4770A7A4A5929C97FF21A0EFF...,GOOD,2023-01-13,GOOD,2023-05-02
4,BB453C54C31C091099809613E80D74EDE582D89FCF9376...,GOOD,2023-12-11,GOOD,2024-03-11

We need to create the ```NextVisit``` column that will be used to determine if the patient is ```LTFU``` or not by lagging the ```VisitDate``` column.

In [26]:
# checking for the unique values of the adherence categories
print(patient_visits['Adherence'].unique())
print(patient_visits['AdherenceCategory'].unique())

['GOOD' nan 'FAIR' 'POOR' 'Good|Good' 'good|' 'Poor|Poor' 'poor|'
 'Good|Poor' 'Poor|Good' '0' 'Good|Fair']
['GOOD' nan 'FAIR' 'POOR' 'ARV' 'ART|CTX']

In [27]:
# Checking for na values
patient_visits.isna().sum()

Patient_uid                  0
Adherence              2386316
VisitDate                    0
AdherenceCategory       349930
NextAppointmentDate       5816
dtype: int64

Since only a small portion of the data is missing we'll drop the missing data points from the visits dataset.

In [28]:
# Dropping the na values
patient_visits = patient_visits.dropna()

# view changes
patient_visits.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8393804 entries, 0 to 10784629
Data columns (total 5 columns):
 #   Column               Dtype
---  ------               -----
 0   Patient_uid          object
 1   Adherence            object
 2   VisitDate            datetime64[ns]
 3   AdherenceCategory    object
 4   NextAppointmentDate  datetime64[ns]
dtypes: datetime64[ns](2), object(3)
memory usage: 384.2+ MB

We will now filter out to remain with the records for the most recent visits for each patient.

In [29]:
# Group by 'Patient_uid', sort by 'VisitDate', and get the latest entry for each group
latest_visits = patient_visits.sort_values('VisitDate').groupby('Patient_uid').last()

# Reset index to remove the multi-index resulting from groupby
latest_visits.reset_index(inplace=True)

# Move the 'Patient_uid' column to the first position
cols = latest_visits.columns.tolist()
cols = ['Patient_uid'] + [col for col in cols if col != 'Patient_uid']
latest_visits = latest_visits[cols]

# View head
latest_visits.head()

,Patient_uid,Adherence,VisitDate,AdherenceCategory,NextAppointmentDate
0,00000B642116102B43DBB14131E3050512B0C562C3E087...,GOOD,2023-12-18,ART|CTX,2024-01-22
1,000114516EC31395403FA7C4CC5E7FE8EC7E10D0EC457F...,Good|Good,2023-08-22,ART|CTX,2024-02-27
2,000114516EC31395403FA7C4CC5E7FE8EC7E10D0EC457F...,GOOD,2022-12-08,ART|CTX,2023-06-08
3,000114516EC31395403FA7C4CC5E7FE8EC7E10D0EC457F...,Good|Good,2023-12-14,ART|CTX,2024-03-14
4,000114516EC31395403FA7C4CC5E7FE8EC7E10D0EC457F...,Good|Good,2023-12-19,ART|CTX,2024-03-18

In [30]:
# Extracting the first part of the values in the Adherence column
latest_visits['Adherence'] = latest_visits['Adherence'].str.split('|').str[0]

In [31]:
latest_visits['Adherence'].unique()

array(['GOOD', 'Good', 'good', 'poor', 'Poor', 'FAIR', 'POOR', '0'],
      dtype=object)

In [32]:
# Replace "0" with NaN in 'Adherence' column
latest_visits['Adherence'] = latest_visits['Adherence'].replace('0', np.nan)

# Convert 'Adherence' column to lowercase
latest_visits['Adherence'] = latest_visits['Adherence'].str.lower()

# View head
latest_visits.head()

,Patient_uid,Adherence,VisitDate,AdherenceCategory,NextAppointmentDate
0,00000B642116102B43DBB14131E3050512B0C562C3E087...,good,2023-12-18,ART|CTX,2024-01-22
1,000114516EC31395403FA7C4CC5E7FE8EC7E10D0EC457F...,good,2023-08-22,ART|CTX,2024-02-27
2,000114516EC31395403FA7C4CC5E7FE8EC7E10D0EC457F...,good,2022-12-08,ART|CTX,2023-06-08
3,000114516EC31395403FA7C4CC5E7FE8EC7E10D0EC457F...,good,2023-12-14,ART|CTX,2024-03-14
4,000114516EC31395403FA7C4CC5E7FE8EC7E10D0EC457F...,good,2023-12-19,ART|CTX,2024-03-18

Since we are only interested on the art adherence, we'll drop the AdherenceCategory column. The CTX category indicates the level of adherence to the drug for treating opportunistic infections.

In [33]:
# Drop the na values that we inserted
latest_visits.dropna(inplace=True)

# Drop the AdherenceCategory
latest_visits.drop(columns='AdherenceCategory', inplace=True)

# Rename 'Adherence' column to 'ArtAdherence'
latest_visits.rename(columns={'Adherence': 'ArtAdherence'}, inplace=True)

##### 4. patient_status

In [34]:
patient_status.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172468 entries, 0 to 172467
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Patient_uid  172468 non-null  object
 1   ExitDate     172468 non-null  object
 2   ExitReason   164075 non-null  object
dtypes: object(3)
memory usage: 3.9+ MB

In [35]:
# Check for na values
patient_status.isna().sum()

Patient_uid       0
ExitDate          0
ExitReason     8393
dtype: int64

In [36]:
# convert the ExitDate column into date time data type
patient_status['ExitDate'] = pd.to_datetime(patient_status['ExitDate'])

# Drop the data points with na values
patient_status.dropna(inplace=True)

# view head
patient_status.head()

                                         Patient_uid   ExitDate    ExitReason
0  C8B6E7C50A1530F4130D101A64940A1E8E02F8154C41AA... 2022-02-03  Transfer Out
1  0E41F33A53596B218FA47D6F17D6413D33E44FC159EF5C... 2022-01-07  Transfer Out
2  8AF1826B4A1C2115D3A0AB7C48480F22787FAF1C316BF7... 2022-01-19  Transfer Out
3  AFF5E6C33C8499EAAF755947E27F8DBDA5E9C0B65A9FFC... 2022-01-24  Transfer Out
4  0921593922E55C539DD4872C55C180FEE6A97B680F96F9... 2023-07-13  Transfer Out

##### 5. Patient_labs

In [37]:
patient_labs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2798983 entries, 0 to 2798982
Data columns (total 4 columns):
 #   Column         Dtype
---  ------         -----
 0   Patient_uid    object
 1   OrderedbyDate  object
 2   TestName       object
 3   TestResult     object
dtypes: object(4)
memory usage: 85.4+ MB

In [38]:
# check for na values
patient_labs.isna().sum()

Patient_uid          6
OrderedbyDate        0
TestName         61074
TestResult       24570
dtype: int64

In [39]:
# Drop the missing values from the dataset
patient_labs.dropna(inplace=True)

In [40]:
patient_labs.head()

,Patient_uid,OrderedbyDate,TestName,TestResult
0,3F11BDE0D8DA0B6D8FFCC20FAA79FF0CA3C188B41459C0...,2022-08-25,Viral Load,0
1,4EE8F1817816ACA31EC31BF3970A707F941A41241319A8...,2023-02-15,Viral Load,87
2,32D913ED2228CC04150FAA7BEC23034183C7147F54A955...,2022-11-19,CHGM,33.5
3,7B73C8E14681A416E4A899B18BFAAEC4F22E31BADFAFA1...,2023-05-16,Viral Load,184
4,B856DD3933C4A89C78CB9AE675F9943C16B9D3DC8ED7DF...,2023-08-24,Viral Load,LDL

In [41]:
# Check the number of tests run on eaxh patient
patient_labs['TestName'].unique()

array(['Viral Load', 'CHGM', 'CD4 Count', 'Hemo', 'LYM2',
       'Serum Cryptococcal Ag', 'FLDEX4 -MON2 %', 'CD4 Percentage',
       'GeneXpert', 'LYM', 'Glycemia', 'Hepatitis B Surface Antigen Test',
       'Sputum for Acid Fast Bacilli', 'VDRL Titre',
       'Serum creatinine (umol/L)', 'PDW', 'ColHDL', 'RVGM', 'NEUT2',
       'Hema', 'Tryglicerid', 'HGM', 'FLDEX1 - MON', 'PCRq', 'Creatinine',
       'GPT', 'GOT', 'PCT', 'ColTot', 'Eritro', 'Tuberculosis', 'Leuco',
       'mpv', 'RDWCV', 'ALT', 'SERUM GLUTAMIC-PYRUVIC TRANSAMINASE',
       'Rifampicin (R)', 'SPUTUM FOR ACID FAST BACILLI',
       'Rapid Plasma Reagin', 'sputum for acid fast bacilli', 'MXD2',
       'UREA', 'RAPID PLASMA REAGIN', 'URINE PREGNANCY TEST',
       'serum cryptococcal ag', 'MXD', 'K', 'HBA1C', 'BILD', 'TB LAM',
       'BLT', 'HIV DNA POLYMERASE CHAIN REACTION, QUALITATIVE',
       'serum creatinine (umol/l)',
       'Hepatitis B surface antigen spot test', 'genexpert',
       'Treponema Pallidum Hemagglutination Assay, Qualitative',
       'rapid plasma reagin', 'ALBU', 'tb lam',
       'Tuberculosis polymerase chain reaction with rifampin resistance checking',
       'Serum cryptococcal antigen status',
       'HEPATITIS C TEST - QUALITATIVE', 'CL', 'Determine rapid test',
       'VDRL TITRE', 'vdrl titre', 'Isoniazid (H)', 'IRON', 'PCR', 'NEUT',
       'AlfaAmilasi', 'PLRC', 'CD4 count result (qualitative)',
       'Ferritin', 'alt', 'CD8', 'Unigold ', 'PLAQ',
       'Treponema Pallidum Hemagglutination Assay', 'Plasmodium',
       'FLDEX3 - BAS', 'PROTEINURIA',
       'treponema pallidum hemagglutination assay, qualitative',
       'FLDEX5 - EOS2 %', 'PT', 'CD4/CD8', 'Oraquick',
       'TREPONEMA PALLIDUM HEMAGGLUTINATION ASSAY, QUALITATIVE',
       'FLDEX2 - MON2 %', 'CA'], dtype=object)

From the tests above, we are only interested in the results for ```Viral Load```, ```CD4 Count``` and ```CD4 Percentage``` tests for our analysis.

In [42]:
# Filter the DataFrame
filtered_patient_labs = patient_labs[patient_labs['TestName'].isin(['Viral Load', 'CD4 Count', 'CD4 Percentage'])]

# Show the filtered DataFrame
filtered_patient_labs

,Patient_uid,OrderedbyDate,TestName,TestResult
0,3F11BDE0D8DA0B6D8FFCC20FAA79FF0CA3C188B41459C0...,2022-08-25,Viral Load,0
1,4EE8F1817816ACA31EC31BF3970A707F941A41241319A8...,2023-02-15,Viral Load,87
3,7B73C8E14681A416E4A899B18BFAAEC4F22E31BADFAFA1...,2023-05-16,Viral Load,184
4,B856DD3933C4A89C78CB9AE675F9943C16B9D3DC8ED7DF...,2023-08-24,Viral Load,LDL
5,A859972B110C134BE9113DC0465AACA9AC0C3CE7E98C4E...,2022-11-28,CD4 Count,1151
...,...,...,...,...
2798978,1F805BE57F8AAEDA962EAEE73A1A226201CDCB1DA7C713...,2023-09-29,Viral Load,LDL
2798979,8CF7AA69FF9194F128BB847DF3CFBCA78633C3C656654E...,2023-04-21,Viral Load,LDL
2798980,BD02C6C5D1593BD12DEBD51D7FBAD406499833813DCF2C...,2023-06-06,Viral Load,205
2798981,F4B3C28C5FB7EA7871787AC9E4FABC4FFED91642840609...,2023-10-25,Viral Load,155
2798982,6B68EC6A14794FFD7EF223985A2824E9473F47FB607F08...,2022-08-16,Viral Load,0

In [64]:
# Replace text values with 0 in 'TestResult' column
filtered_patient_labs['TestResult'] = pd.to_numeric(filtered_patient_labs['TestResult'], errors='coerce').fillna(0)

# Convert 'TestResult' column to float data type
filtered_patient_labs['TestResult'] = filtered_patient_labs['TestResult'].astype(float)

# Group by 'Patient_uid', sort by 'OrderedbyDate', and get the latest entry for each group
latest_tests = filtered_patient_labs.sort_values('OrderedbyDate').groupby('Patient_uid').last()

# Reset index to make 'Patient_uid' a column
latest_tests.reset_index(inplace=True)

# View head
latest_tests.head()

,Patient_uid,OrderedbyDate,TestName,TestResult
0,000114516EC31395403FA7C4CC5E7FE8EC7E10D0EC457F...,2023-02-02,Viral Load,0.0
1,000114516EC31395403FA7C4CC5E7FE8EC7E10D0EC457F...,2023-06-08,Viral Load,0.0
2,000114516EC31395403FA7C4CC5E7FE8EC7E10D0EC457F...,2023-09-11,Viral Load,0.0
3,000114516EC31395403FA7C4CC5E7FE8EC7E10D0EC457F...,2023-07-03,Viral Load,0.0
4,000114516EC31395403FA7C4CC5E7FE8EC7E10D0EC457F...,2023-09-11,Viral Load,0.0

  ##### 6. patient_depression_scr

In [45]:
# Get the information
patient_depression_scr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1763285 entries, 0 to 1763284
Data columns (total 4 columns):
 #   Column                    Dtype
---  ------                    -----
 0   Patient_uid               object
 1   VisitDate                 object
 2   PHQ_9_rating              object
 3   DepressionAssesmentScore  float64
dtypes: float64(1), object(3)
memory usage: 53.8+ MB

In [46]:
# check for missing values
patient_depression_scr.isna().sum()

Patient_uid                       0
VisitDate                         0
PHQ_9_rating                      0
DepressionAssesmentScore    1763285
dtype: int64

In [67]:
# convert the VisitDate column into date time data type
patient_depression_scr['VisitDate'] = pd.to_datetime(patient_depression_scr['VisitDate'])

# we drop the DepressionAssesmentScore and VisitDate columns
patient_depression_scr.drop(columns= ["DepressionAssesmentScore","VisitDate"], inplace=True)

patient_depression_scr.head()

                                         Patient_uid         PHQ_9_rating
0  13624525CB0A1E56E39C5DBEA36CA40F75C0DDFBB0719F...  Depression unlikely
1  8AE5AEF927CEFEC4DA2D5C598E737464DA531CCF70DB3C...  Depression unlikely
2  79A587C5AD7F0876D3F005D5755A3A4FAE841CDFEDEDC7...  Depression unlikely
3  7D60135BDE9770841CA447E5602841D7E8C2AE735D2390...  Depression unlikely
4  24795814776BF00333ABB04C43C6983153050A63772E52...  Depression unlikely

#### Merging the data frames

In [68]:
clean_dfs = [clean_ct_patients, clean_art_patients, latest_visits, patient_status, latest_tests, patient_depression_scr]

# Merge dataframes on 'Patient_uid' column
merged_df = None
for df in clean_dfs:
    if merged_df is None:
        merged_df = df
    else:
        merged_df = pd.merge(merged_df, df, on='Patient_uid', how='left')

merged_df.head()

,Patient_uid,SiteCode,FacilityName,Region,Gender,LastVisit,EducationLevel,Occupation,MaritalStatus,ArtExitReason,...,LastRegimen,ArtAdherence,VisitDate,NextAppointmentDate,ExitDate,ExitReason,OrderedbyDate,TestName,TestResult,PHQ_9_rating
0,221B44364E0DD50C9FE08E53A409345216D6E44523644A...,11094,Thika Level 5 Hospital,Kiambu,Female,2022-08-23,PRIMARY,OTHER NON-CODED,Single,DEAD,...,3TC+EFV+TDF,poor,2022-08-23,2022-09-06,2022-11-14,Died,NaN,NaN,NaN,NaN
1,C02DFA860440198A658E188E0D9FE0E3BB8DE1EC2695D5...,11395,Shimo-La Tewa Health Centre (GK Prison),Mombasa,Female,2022-05-25,PRIMARY,OTHER NON-CODED,DIVORCED,NaN,...,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN
2,89FF302CC4C87B3BE564F50018F3C813E1D62AA208F925...,14872,Kiminini Cottage Hospital,Trans Nzoia,Male,2022-09-12,PRIMARY,OTHER NON-CODED,MARRIED POLYGAMOUS,NaN,...,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN
3,DE56185F5A830983CD17C905E2A458F6B24816F093FA02...,10602,Kijabe (AIC) Hospital,Kiambu,Female,2022-03-28,PRIMARY,Farmer,WIDOWED,NaN,...,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN
4,29209A223A1EB657237D40A9DEBC9F6CEEAA82E01C7EB9...,10602,Kijabe (AIC) Hospital,Kiambu,Female,2022-10-31,COLLEGE,Employee,MARRIED MONOGAMOUS,NaN,...,NaN,NaN,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN

In [71]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503516 entries, 0 to 503515
Data columns (total 25 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Patient_uid          503516 non-null  object
 1   SiteCode             503516 non-null  int64
 2   FacilityName         503516 non-null  object
 3   Region               503516 non-null  object
 4   Gender               503516 non-null  object
 5   LastVisit            503516 non-null  datetime64[ns]
 6   EducationLevel       503516 non-null  object
 7   Occupation           503516 non-null  object
 8   MaritalStatus        503516 non-null  object
 9   ArtExitReason        86586 non-null   object
 10  AgeEnrollment        86586 non-null   float64
 11  StartARTDate         86586 non-null   datetime64[ns]
 12  AgeLastVisit         86586 non-null   float64
 13  AgeARTStart          86586 non-null   float64
 14  StartRegimen         86586 non-null   object
 15  LastRegimen          86586 non-null   object
 16  ArtAdherence         486200 non-null  object
 17  VisitDate            486200 non-null  datetime64[ns]
 18  NextAppointmentDate  486200 non-null  datetime64[ns]
 19  ExitDate             70217 non-null   datetime64[ns]
 20  ExitReason           70217 non-null   object
 21  OrderedbyDate        439073 non-null  object
 22  TestName             439073 non-null  object
 23  TestResult           439073 non-null  float64
 24  PHQ_9_rating         353808 non-null  object
dtypes: datetime64[ns](5), float64(4), int64(1), object(15)
memory usage: 96.0+ MB

In [74]:
# Drop the ExitReason, OrderedbyDate and FacilityName columns since they are redundant
merged_df.drop(columns=['ExitReason', 'OrderedbyDate', 'FacilityName'], inplace=True)
final_df = merged_df.dropna()
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22095 entries, 33 to 503463
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Patient_uid          22095 non-null  object
 1   SiteCode             22095 non-null  int64
 2   Region               22095 non-null  object
 3   Gender               22095 non-null  object
 4   LastVisit            22095 non-null  datetime64[ns]
 5   EducationLevel       22095 non-null  object
 6   Occupation           22095 non-null  object
 7   MaritalStatus        22095 non-null  object
 8   ArtExitReason        22095 non-null  object
 9   AgeEnrollment        22095 non-null  float64
 10  StartARTDate         22095 non-null  datetime64[ns]
 11  AgeLastVisit         22095 non-null  float64
 12  AgeARTStart          22095 non-null  float64
 13  StartRegimen         22095 non-null  object
 14  LastRegimen          22095 non-null  object
 15  ArtAdherence         22095 non-null  object
 16  VisitDate            22095 non-null  datetime64[ns]
 17  NextAppointmentDate  22095 non-null  datetime64[ns]
 18  ExitDate             22095 non-null  datetime64[ns]
 19  TestName             22095 non-null  object
 20  TestResult           22095 non-null  float64
 21  PHQ_9_rating         22095 non-null  object
dtypes: datetime64[ns](5), float64(4), int64(1), object(12)
memory usage: 3.9+ MB

In [76]:
final_df.head()

,Patient_uid,SiteCode,Region,Gender,LastVisit,EducationLevel,Occupation,MaritalStatus,ArtExitReason,AgeEnrollment,...,AgeARTStart,StartRegimen,LastRegimen,ArtAdherence,VisitDate,NextAppointmentDate,ExitDate,TestName,TestResult,PHQ_9_rating
33,10DFEDDA563FC8606883C787CF5D6BA4F579C86CF8F53C...,13156,Nairobi,Female,2023-11-23,PRIMARY,Student,Single,TRANSFER OUT,13.0,...,13.0,3TC+DTG+TDF,3TC+DTG+TDF,good,2023-11-23,2024-04-18,2022-06-15,Viral Load,0.0,Depression unlikely
186,17936C33267571C58D6BE8C389C674631AD750255C67F4...,14022,Homa Bay,Female,2023-02-01,NONE,OTHER NON-CODED,MARRIED MONOGAMOUS,DEAD,57.0,...,58.0,3TC+AZT+NVP,3TC+DTG+TDF,good,2023-01-04,2023-02-01,2023-04-03,Viral Load,0.0,Depression unlikely
368,F65251F1B79F439DF9C458B00B9803B0BD960B8E42F043...,15470,Nakuru,Male,2023-12-13,SECONDARY,OTHER NON-CODED,MARRIED POLYGAMOUS,TRANSFER OUT,27.0,...,27.0,3TC+EFV+TDF,3TC+DTG+TDF,good,2023-12-13,2024-06-11,2022-02-09,Viral Load,0.0,Depression unlikely
523,666B4FAD7D03FCBC317B14ED698C1880B55F95E7710064...,18877,Homa Bay,Female,2023-04-29,SECONDARY,Student,Single,TRANSFER OUT,18.0,...,18.0,3TC+DTG+TDF,3TC+DTG+TDF,good,2023-04-29,2023-05-29,2023-05-08,CD4 Count,992.0,Mild depression
524,666B4FAD7D03FCBC317B14ED698C1880B55F95E7710064...,18877,Homa Bay,Female,2023-04-29,SECONDARY,Student,Single,TRANSFER OUT,18.0,...,18.0,3TC+DTG+TDF,3TC+DTG+TDF,good,2023-04-29,2023-05-29,2023-05-08,CD4 Count,992.0,Depression unlikely

In [75]:
# Writing into a csv file
final_df.to_csv('final_dataframe.csv', index=False)

In [44]:
# Suggested plots for visualizations

# distribution of LTFU patients
# distribution of transfered out patients by region
# distribution of LTFU patients by region
# distribution of LTFU patients by occupation
# distribution of LTFU patients by gender
# distribution of patients by ExitReason (establish portion in each category)
# use the patient_labs and patient_visits